{% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'homepage/img/icon.png'%}" type="image/x-icon" />
   
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@300;400&display=swap"
        rel="stylesheet">

    <!-- Materialize CSS -->
    <link rel="stylesheet" href="{% static 'homepage/css/lib/materialize.min.css'%}" />

    <!-- BoxIcons -->
    <link rel="stylesheet" href="{% static 'homepage/css/lib/boxicons/css/boxicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/lib/boxicons/css/animations.css' %}">
    <link rel="stylesheet" href="{% static 'homepage/css/lib/boxicons/css/transformations.css' %}">


    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'homepage/css/puro/estilo.css' %}">

    <!-- Carrosel -->
    <link href="{% static 'homepage/css/lib/owl.carousel.min.css' %}" rel="stylesheet">

    <!-- Animate -->
    <link rel="stylesheet" href="{% static 'homepage/css/lib/animate.min.css' %}">

    <!-- Venobox -->
    <link rel="stylesheet" href="{% static 'homepage/css/lib/venobox.css' %}">

    <!-- AOS -->
    <link rel="stylesheet" href="{% static 'homepage/css/lib/aos.css' %}">




</head>