{% load static %}
 <!-- Scrips JS -->
 <script src="{% static 'homepage/js/lib/jquery.js' %}"></script>
 <script src="{% static 'homepage/js/lib/aos.js' %}"></script>
 <script src="{% static 'homepage/js/lib/venobox.min.js' %}"></script>
 <script src="{% static 'homepage/js/lib/materialize.min.js' %}"></script>
 <script src="{% static 'homepage/js/puro/main.js' %}"></script>
 <script src="{% static 'homepage/js/lib/owl.carousel.min.js' %}"></script>
 <script src="{% static 'homepage/js/puro/contador.js' %}"></script>
 <script>
     AOS.init();
 </script>
