{% block 'regulamento' %}

    

  <div class="row">
      <div class="col l4">
          <div class="row">
              <div class="col s12 m12 l12">
                  <div class="card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                      <div class="card-image">
                          <img src="{{regulamento.img.url}}">
                          <span class="card-title">{{regulamento.titulo}}</span>
                          <a class="btn-floating halfway-fab waves-effect waves-light red" target="_blank" href="{{regulamento.pdf.url}}"><i class='bx bxs-file-pdf'></i></a>
                      </div>
                  <div class="card-content">
                    <p>{{regulamento.descricao}}
                  </div>
              </div>
          </div>
      </div>
  </div>
  

      

{% endblock 'regulamento' %}