{% extends 'global/base_geral.html' %}
{% block 'title' %}Inscrições |{% endblock 'title' %}
{% block 'conteudo' %}
<!-- Inscriçoes-->
<section id="evento" >
  <div class="section-bg" >
      <div class="section-container3">
          <div class="section-title" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine" >
              <h1>{{inscricaodetalhe.titulo}}</h1>
          </div>
      </div>
      <div class="container">


    
          <div class="row">
              <div class="col l6 m12 s12">
                  <p class="sobre-div" data-aos="zoom-in">{{inscricaodetalhe.descricao}}</p>
              </div>
              <div class="col l6 m12 s12"><br><br><br><br>
                  <div class="video-container" data-aos="zoom-in">
                      <iframe width="560" height="315" src="{{inscricaodetalhe.urlvideo}}"
                          title="YouTube video player" frameborder="0"
                          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                          allowfullscreen></iframe>

                  </div>
              </div>
          </div>
      </div>
      <div class="container">
        <div class="row"><br><br>
          {% block 'inscricao' %}
          {% for inscricao in inscricaoitens %}
          {% include 'homepage/partials/inscricaoitem.html' %}
          {% endfor %}
          {% endblock 'inscricao' %}
        </div>
      </div>

        <!--
        <div class="row">
          <div class="col l4">
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="card-image">
                    <img src="img/logo2.png">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" target="_blank" href="#"><i class='bx bx-play'></i></a>
                  </div>
                  <div class="card-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, nisi iure earum voluptatum beatae, veritatis vero odio molestias sint soluta quis, perspiciatis eos dolorem dolor ullam deleniti nostrum consectetur porro?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
          <div class="col l4">
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="card-image">
                    <img src="img/logo2.png">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" target="_blank" href="#"><i class='bx bx-play'></i></a>
                  </div>
                  <div class="card-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, nisi iure earum voluptatum beatae, veritatis vero odio molestias sint soluta quis, perspiciatis eos dolorem dolor ullam deleniti nostrum consectetur porro?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
        
          <div class="col l4">
            <div class="row">
              <div class="col s12 m12 l12">
                <div class="card" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                  <div class="card-image">
                    <img src="img/logo2.png">
                    <span class="card-title">Card Title</span>
                    <a class="btn-floating halfway-fab waves-effect waves-light red" target="_blank" href="#"><i class='bx bx-play'></i></a>
                  </div>
                  <div class="card-content">
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A, nisi iure earum voluptatum beatae, veritatis vero odio molestias sint soluta quis, perspiciatis eos dolorem dolor ullam deleniti nostrum consectetur porro?</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>-->
  

  



  </div>
</section>

               

{% endblock 'conteudo' %}