{% extends 'global/base_mensagens.html' %}
{% block 'title' %}Mensagens |{% endblock 'title' %}
{% block 'conteudo' %}
<!-- Inscriçoes-->
<section id="evento">
  <div class="section-bg">
    <div class="section-container3">
      <div class="section-title" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h1>Login</h1>
      </div>
    </div>

    <div class="container">

      <form action="{% url 'acesso_mensagem' %}" method="post">{% csrf_token %}
        <div class="row">
          <form class="col s12">
            <div class="row container">
              <div class="container">
              <div class="input-field col s12">
                <input placeholder="Placeholder" id="usuario" type="text" class="validate" name="usuario">
                <label for="usuario">Usuário</label>
              </div>
              <div class="input-field col s12">
                <input id="senha" type="password" class="validate" name="senha">
                <label for="senha">Senha</label>
              </div>
              <div class="text-center center"><button type="submit" class="btn">Acessar</button></div><br>
              </div>
            </div>
      </form>
      
        
       


     





      
    </div>








  </div>
</section>



{% endblock 'conteudo' %}