{% extends 'global/base_mensagens.html' %}
{% block 'title' %}Mensagens |{% endblock 'title' %}
{% block 'conteudo' %}
<!-- Inscriçoes-->
<section id="evento">
  <div class="section-bg">
    <div class="section-container3">
      <div class="section-title" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
        <h1>Mensagens</h1>
      </div>
    </div>

    <div class="container">
      {% if contatos %}
      {% else %}
      <div class="center"><p class="white-text">Sem mensagens no momento.</p></div>
      {% endif %}
      
      <div class="row"><br><br>

        {% for mensagens in contatos %}
        <div class="col s12 m6 l4">
          <div class="card white darken-7">
            <div class="card-content white-text">
              <span class="card-title">{{mensagens.assunto}}</span>
              <p class="black-text">{{mensagens.message}}</p>
            </div>
            <div class="card-content">
              <div class="row">
                <div class="col l12 m12 s12 mensagem_link">
                  <label for="Telefone">Nome:</label>
                  <a href="#">{{mensagens.nome}}</a>
                </div>
                <div class="col l12 m12 s12 mensagem_link">
                  <label for="Telefone">Telefone:</label>
                  <a href="#">{{mensagens.phone}}</a>
                </div>
                <div class="col l12 m12 s12 mensagem_link">
                  <label for="Email">Email:</label>
                  <a href="#">{{mensagens.email}}</a>
                </div>
                <div class="col l12 m12 s12 mensagem_link center">
                  <form action="{% url 'mensagem' mensagens.id %}">{% csrf_token %}
                   
                    <button type="sibmit" class="btn red white-text">Marcar como lido</button>
                  </form>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}


     





      </div>
    </div>








  </div>
</section>



{% endblock 'conteudo' %}